[submodule ".vim/bundle/zencoding"]
	path = .vim/bundle/zencoding
	url = http://github.com/mattn/zencoding-vim.git
[submodule ".vim/bundle/snipmate"]
	path = .vim/bundle/snipmate
	url = http://github.com/msanders/snipmate.vim.git
[submodule ".vim/bundle/surround"]
	path = .vim/bundle/surround
	url = https://github.com/tpope/vim-surround
[submodule ".vim/bundle/tcomment"]
	path = .vim/bundle/tcomment
	url = https://github.com/tomtom/tcomment_vim
[submodule ".vim/bundle/nerdtree"]
	path = .vim/bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree
